Package: love.litten.dejavu
Name: Déjà Vu 🕰
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13.0)
Version: 1.3
Architecture: iphoneos-arm
Description: I've seen that before
Maintainer: Litten
Author: Litten
Section: Tweaks
Depiction: https://repo.litten.love/depictions/dvu/index.html
SileoDepiction: https://repo.litten.love/depictions/dvu/dvu.json
Icon: https://repo.litten.love/depictions/dvu/assets/icon.png
